# ALLOW USER BY IP
<Limit GET POST>
 order deny,allow
 allow from all
 allow from 172.31.9.
 #allow from 172.31.84.130
</Limit>

ErrorDocument 403 /missing.html
ErrorDocument 404 /missing.html

#Redirect 301 /olddirectory/file.html http://www.domainname.com/newdirectory/file.html